.listaContainer{
    align-items: center;
    background: whitesmoke;
    border: 3px solid #000;
    border-radius: 10px;
    height: 10rem;
    justify-content: space-around;
    padding: 1rem;
    width: 25rem;
        &:hover{
            cursor: pointer;
            background: #479bc2;
            border-color: #180a67;
            color: whitesmoke;
            transition: 1s;
        }
        &:active{
            background: #180a67;
            transition: 200ms;
        }
        h2{
            margin-left: 1rem;
        }
}

.listaItem{
    background: aliceblue;
    border: 3px solid #000;
    border-radius: 10px;
    &:hover{
        background: #479bc2;
        border-color: #180a67;
        color: aliceblue;
        transition: 1s;
    }
}